@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    padding:0;
    margin:0;
    box-sizing: border-box;
}


/* Main Menu and Logo*/

#menu-links{
    background-color:rgba(37, 7, 51, 1);
    height:70px;
    margin: 0 auto;
    padding:0 40px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;  
    justify-items: center;
    align-items:center;
    text-transform:Uppercase;
}

#menu-links li{ 
    list-style-type: none;
    display:grid;
    grid-auto-columns: minmax(100px, auto);
    justify-items: center;
    align-items: center;

   
}

#menu-links a {
    color:#f8f4e3;
    text-decoration: none;
    text-align:center;
}

.logo{
    grid-column: 3/4;
    grid-row:1;
}

#menu-links a:hover{
    border-bottom: 1px solid #f8f4e3;
}

/*hero image*/

#hero-image-container {
    height: 600px;
    width:100%;
    overflow: hidden;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;  
    justify-items: center;
    align-items:center;
}

#hero-image{
    background: url('../images/hero-image-home-page.jpg') no-repeat center top;
    background-size:cover;
    height:600px;
    width:100%;
    grid-column: 1;
    grid-row:1;
}

#hero-image-text-overlay{
    background-color:rgba(248, 244, 227, .5);
    width:80%;
    grid-column: 1;
    grid-row:1;
    text-align: center;
    padding:40px;
    line-height:300%;
}

#hero-image-text-overlay h1{
    font-family: "Playfair Display", sans-serif;
    font-size: 200%;
    text-transform:uppercase;
    letter-spacing: 6px;
}